@import "App.scss";

.coin-list {
   width: 90%;
   margin: auto;
   padding: 20px 10px;
   background: $dark-background;
   border-radius: 30px;
   font-size: 11px;

   table {
      width: 100%;
      border-collapse: collapse;

      thead {
         border-bottom: 1px solid $light-grey;
      }

      th {
         text-align: left;
         padding: 0px 16px 8px;

         .th-flex {
            display: flex;
         }
      }

      td {
         text-align: left;
         padding: 28px 5px;

         .coin-image {
            height: 34px;
            width: 34px;
            margin-right: 10px;
         }

         .caret {
            font-size: 15px;
            margin-right: 5px;
         }

         a {
            cursor: pointer;
            margin: auto 0;
            color: white;
            transition: color 0.2s ease;

            &:hover {
               color: $third-color;
            }
         }
      }
   }
}

.coin-name,
.percent-change {
   display: flex;
   p {
      margin: auto 0;
   }
}

.neg-value {
   color: $neon-red;
}

.pos-value {
   color: $neon-green;
}

.coin-list-coin {
   &:not(:last-child) {
      border-bottom: 1px solid $light-grey;
   }

   &:hover {
      background: $grey-background;
   }
}

.filter-btn {
   border: none;
   color: white;
   background: transparent;
   cursor: pointer;
   margin: 0 5px;
}

.table-details {
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;

   .split {
      display: flex;

      .adjust-chart {
         display: flex;
         margin: 0 10px;

         h1,
         h3 {
            margin: auto;
         }

         h1 {
            font-size: 28px;
         }

         h3 {
            font-size: 15px;
         }

         .page-btn-div {
            display: flex;
         }
      }

      .show-coins {
         position: relative;

         .drop-down {
            position: absolute;
            background: $dark-background;
            top: 100%;
            right: 0%;
            border: 1px solid $light-grey;
            border-radius: 5px;

            li {
               padding: 12px;
               cursor: pointer;

               &:hover {
                  background: $grey-background;
               }
            }
         }
      }
   }
}
