@import "App.scss";

.global-data {
   width: 75%;
   background: $dark-background;
   padding: 15px 0;
   margin: 0 auto 30px;
   border-radius: 20px;
   font-size: 12px;

   ul {
      @include flexCenter($flexDirection: row);
      justify-content: space-evenly;

      li {
         display: flex;
         cursor: pointer;

         p {
            margin-right: 5px;
         }

         .progress-bar {
            width: 50px;
            height: 8px;
            border-radius: 10px;
            margin: auto 0 auto 5px;
            background: $light-grey;

            .inner-bar {
               height: 8px;
               border-radius: 10px;
               background: $third-color;
            }
         }

         .coin-stats {
            display: flex;

            p {
               margin: auto;
            }
         }
      }

      .dot {
         height: 10px;
         width: 10px;
         background: $third-color;
         border-radius: 100%;
         margin: auto 5px auto 0;
      }

      .icon {
         margin-right: 5px;
         height: 20px;
         width: 20px;
      }
   }
}
