@import "App.scss";

nav {
   @include flexCenter($flexDirection: row, $justifyContent: space-between);
   width: 78%;
   margin: auto;
   padding: 15px 58px;
   @media (max-width: 1400px) {
      width: 90%;
   }

   .active {
      background: $light-grey;
   }

   ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0%;
      z-index: 1;
      padding: 5px 0;
      background: $dark-background;

      a,
      li {
         cursor: pointer;
         padding: 7px 15px;

         &:hover {
            background: $light-grey;
         }
      }
   }

   .left-nav {
      a {
         color: white;
         padding: 12px 25px;
         border-radius: 10px;
         margin-right: 10px;
      }
   }

   .right-nav {
      display: flex;
      .input {
         display: flex;
         position: relative;

         input {
            background: $light-grey;
            color: white;
            border: none;
            padding: 12px 25px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            font-size: 20px;

            &:focus {
               outline: none;
            }

            &::placeholder {
               color: white;
            }
         }

         div {
            background: $light-grey;
            padding: 12px 8px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
         }
      }

      .currency {
         margin: auto;
         position: relative;

         button {
            display: flex;
            align-items: center;
            padding: 12px 15px;
            margin-left: 15px;
            color: white;
            border-radius: 10px;
            border: none;
            cursor: pointer;

            p {
               font-weight: bold;
               margin: 0 5px;
            }

            .icon {
               color: $neon-green;
            }
         }

         ul {
            li {
               display: flex;

               p {
                  margin: auto;
               }

               .list-symbol {
                  background: $grey-background;
                  margin-right: 5px;
               }
            }
         }

         .currency-symbol {
            display: grid;
            background: $dark-background;
            border-radius: 50%;
            height: 25px;
            width: 25px;

            p {
               color: $neon-green;
               margin: auto;
            }
         }
      }
   }
}
