$dark-background: #191b1f;
$grey-background: #1f2128;
$neon-green: #06d921;
$neon-red: #fe1040;

@mixin flexCenter($flexDirection: column) {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: $flexDirection;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

ul {
   list-style: none;
}

.App {
   background: $dark-background;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-container {
   width: 78%;
   padding: 30px 0;
   margin: auto;
   background: $grey-background;
   @media (max-width: 1400px) {
      width: 90%;
   }
}
