$dark-background: #191b1f;
$grey-background: #1f2128;
$light-grey: #383b46;
$third-color: #dbc473;
$neon-green: #06d921;
$neon-red: #fe1040;

@mixin flexCenter($flexDirection: column, $justifyContent: center) {
   display: flex;
   align-items: center;
   justify-content: $justifyContent;
   flex-direction: $flexDirection;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: white;
}

.App {
   background: $dark-background;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-container {
   position: relative;
   width: 78%;
   margin: auto;
   padding-bottom: 30px;
   background: $grey-background;
   @media (max-width: 1400px) {
      width: 90%;
   }
}
