.progress-bar-div {
   display: flex;
   flex-direction: column;

   .coin-stats {
      display: flex;
      justify-content: space-between;
      padding-bottom: 2px;
   }

   .progress-bar {
      height: 8px;
      border-radius: 10px;

      .inner-bar {
         height: 8px;
         border-radius: 10px;
      }
   }
}
